body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  text-align: center;

}
/* #root > div > div > label{
  font-size: x-large;
  font-weight: bolder;

}
#root > div > div > input{
  width: 428px;
  height: 30px;
  margin-top: 14px;
  
  text-align: center;


}
#root > div > div > button{
  width: 163px;
  height: 37px;
  margin-top: 10px;
  font:x-large;
  font-weight: bolder;

} */
/* #root > div > p{
  font:x-large;
  font-weight: bolder;
  color: red;
}
#root > div > h1{
  color: aquamarine;
  background-color: blue;
  
  margin-top: 0px;
  height: 57px;

} */
/* #root > div:nth-child(2) > div.card > div > img{
  margin-left: 426px;

}*/
.my-2{
  justify-content: center;


} 
#root > div:nth-child(2) > div.card-deck > div > div > img{
  width:100%;
}

#root > div:nth-child(2) > div.card-deck > div > img{
  width: 70%;
  
  align-self: center;

  
}
#root > div:nth-child(2) > div.card-deck > div > p{
  
  font-size: 35px;

}